data/
models/
.vscode/
__pycache__/
my_package.egg-info
.ipynb_checkpoints/
wandb/
.DS_Store
causal_rl.egg-info/


## LaTex

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

*.dvi
*.xdv
*-converted-to.*

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

src/unifiedqa/out/
batch.sh
src/own/artifacts
src/own/bfs.txt
src/own/model.txt
src/unifiedqa/unifiedqa.txt
artifacts/
